/* linting */




.package-table {
  padding-bottom: 10px;
}

.package-table > tbody > tr:first-child {
  line-height: 20px;
}

.package-table th {
  border-bottom: 2px solid red;
  font-weight: bold;
}

.package-table td, .package-table th {
   padding: 2px 8px 2px 4px;
}

.project-packages button {
  border: 2px darkgray solid;
  padding: 4px;
  background: inherit;
}

.project-packages .link:hover {
  text-decoration: underline;
  cursor: hand;
}



.add-package {
  margin-top: 10px;
  /*border: 1px solid red;*/
}

.add-package h3 {
  font-size: 16px;
}

.form-row label {
  display: block;
  margin-right: 10px;
}


.add-package :focus {
    /* -webkit-focus-ring-color = '#5B9DD9' */
    outline: -webkit-focus-ring-color auto 5px;
}

.add-package select {
  font-size: inherit;
  font-family: inherit;
  color: white;
  background: #616161;
  border: 1px solid #616161;
  padding: 4px;
}

.add-package .versions {
  margin-left: 10px;
}

.add-package .btn {
  margin-left: 10px;
}


.autocomplete-dropdown {
  position: relative;
}

.autocomplete-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0px;
  display: block;
  background: #3b3f41;
  max-height: 300px;
  width: 250px;
  overflow: auto;

 -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}


.autocomplete-dropdown-item {
  padding: 0 4px 0 4px;
}


.autocomplete-active {
  background: #616161;
  color: #f4f4f4;
}

.autocomplete-dropdown-item.row:hover {cursor: pointer; cursor: hand;}

/** Linter specifix styling **/

/* .CodeMirror .lint-error {
  border-bottom:  3px solid darkred;
  background-color: inherit;
}
 */

.CodeMirror .lint-warning, .CodeMirror .lint-error {
  border-bottom:2px dotted;
  display: inline-block;
  position: relative;
}

.CodeMirror .lint-warning:after, .CodeMirror .lint-error:after {
  content: '';
  height: 5px;
  width: 100%;
  border-bottom: 2px dotted;
  position: absolute;
  bottom: -3px;
  left: -2px;
}

.CodeMirror .lint-error, .CodeMirror .lint-error:after {
  border-bottom-color: red;
}

.CodeMirror .lint-warning, .CodeMirror .lint-warning:after {
  border-bottom-color: #FFFFCC;
}


/* Override Inline doc */
div.inline-doc h2 {
  font-size: 100%;
}

div.inline-doc h3 {
  font-size: 90%;
  font-weight: 600;
  border-bottom: none;
}





div.linter-res {
  z-index: 1000;
  top: 100%;
  left: 0px;
  display:block;
  position:absolute;
  overflow:hidden;
  box-sizing:border-box;
  padding: 5px;
  margin-bottom: 50px; /* to handle "high" errors getting clipped when at bottom of editor*/
  -webkit-user-select: text;
}

span.lint-status, span.ast-status {
  padding: 0 5px 0 5px;
  -webkit-border-radius: 5px;
  display: block;
  opacity: 0.8;
}

span.ast-status.ok {
  background-color: #7CAB80;
  color: #B9FBBE;
}

div.linter-res.error, span.lint-status.error, span.ast-status.error {
  background: #73404c;
  color: #ffa6a6;
}

div.linter-res.warning, span.lint-status.warning {
  background: #FFFFCC;
  color: #7f8000;
}


div.linter-res.open {
  display:block;
}

div.linter-res .title {
  font-weight: bold;
  padding-bottom: 5px;
  text-decoration: underline;
}


div.linter-res span.button {
  display:inline-block;
  padding: 3px;
  margin-top: 5px;
  margin-left: 3px;
}


#elm-module-browser p.binding {
  color: #ccc;
  font-size: 8pt;
  font-style: italic;
}

#elm-module-browser input {
  width: 100%
}

div.elmrepl .main {
  height:100%; width:100%; float:left; border-radius:0; box-sizing:border-box;
}


/* Elm gutter */
div.elm-gutter-marker {
  color:inherit;
  background-color: inherit;
  opacity: 0.3;
}


/* Hinter customization */
.elm-completion .display-text, .elm-completion .module {
  display: inline-block;
  line-height:inherit;
}

.elm-completion .display-text {
  width: 20em;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.elm-completion .module {
  opacity: 0.5;
  height:auto;
  vertical-align:top;
}

.elm-completion .module:not(:empty) {
  padding-right: 5px;
  padding-left: 5px;
}






/* Selector */
div.elm-select {
  position: relative;
  display: inline-block;
  background: #3b3f41;
  padding:0;
  margin: 0;
}


div.elm-select select {
  -webkit-appearance:none;
  vertical-align: top;
  font-size: inherit;
  font-family: inherit;
  font-size: 110%;
  color: white;
  background: #3b3f41;
  border: 1px solid #3b3f41;
  padding: 2px;
  max-height: 20em;
}



