.elmtest-dashboard {
  padding: 10px;
}


.elmtest-dashboard h2 {
  font-size: 125%;
}

.elmtest-dashboard .curr-test {
  margin-top: 5px;
}

.elmtest-dashboard .result-container {
  margin-top: 15px;

}

.elmtest-dashboard .test-failures {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  box-sizing:border-box;
}



.elmtest-dashboard .test-failures > ul {
  border-top: 1px solid darkgray;
  overflow: scroll;
  left: 1px;
  right:1px;
  bottom: 130px;
  top: 30px;
  overflow: auto;
  padding-top: 8px;
  position: absolute;
}

.elmtest-dashboard .test-failures > ul > li {
  padding-bottom: 10px;
  padding-top: 10px;
}

.elmtest-dashboard .test-failures > ul > li > ul > li > .test-label {
  color: #7ffffd;
}


.elmtest-dashboard .test-failures > ul > li > ul {
  color: #ccc;
}


/*.elmtest-dashboard .test-failures > ul > li:nth-child(even) {
  background: inherit;
}*/

.elmtest-dashboard .test-failures > ul > li > ul li ul {
  margin-left : 10px;
  margin-top: 5px;
}



.elmtest-dashboard .test-failures > ul > li pre {
  margin-left: 20px;
  opacity: 0.8;
}

.elmtest-dashboard .test-failures .given {
  margin-left: 10px;
}






.elmtest-dashboard .summary-item {
  display: inline-block;
  width: 150px;
}

.elmtest-dashboard .summary-item span {padding-left: 5px;}


.elmtest-dashboard
.test-progress progress, .test-progress progress[role]
{
  -webkit-appearance: none;
}


.test-progress progress {
  width: 100%;
}

/* Polyfill */
.test-progress progress[role]:after {
  background-image: none;
}

.elmtest-dashboard .test-progress progress.ok::-webkit-progress-value {
  background: #7CAB80;
}

.test-progress progress.error::-webkit-progress-value {
  background: #FF5357;
}
